:root
  .design7
    --font: 'Gotham XNarrow'
    --second-font: 'GothamCond'
    --third-font: 'OpenSans Condensed'
    --gap-main: 16px
    --gap-main-mobile: 12px
    --main-width: 992px
    --main-color: #E30604
    --decorative-color: #FF3430
    --secondary-color: #DD0000
    --title-color: #000000
    --text-color: #212529
    --border-color: #D5D5D5
    --light-border-color: #CDCDCD
    --nav-link-color: #363636