// mixins
@import 'media'
@import 'vendors/_font-face'
// fonts
@import 'fonts/gothamxnarrow'
@import 'fonts/gothamcond'
// others
@import 'variables'
// components
@import 'components/header'
@import 'components/module-home'
@import 'components/module1'
@import 'components/module2'
@import 'components/module3'
@import 'components/module4'
@import 'components/module5'
@import 'components/module6'
@import 'components/ticker'

.design6
  .main-structure
    background-color: var(--bg-color)
    padding-bottom: 20px
    &__column_center
      max-width: calc(var(--main-width) + var(--gap-main) * 2)
      margin: 0 auto

  .outer-gap-elem
    padding: var(--gap-main)
    @include media('md')
      padding: var(--gap-main-mobile)

  .common_module-title
    color: var(--main-color)
    font: 950 40px/40px var(--second-font)
  .common_label
    color: var(--secondary-color)
    font: 500 18px var(--font)
  .common_title
    color: var(--title-color)
    font: 700 28px/28px var(--second-font)
  .common_desc
    color: var(--text-color)
    font: 400 20px var(--second-font)
  .common_decorative-rectangle
    position: relative
    &::before
      content: ''
      position: absolute
      top: calc(-1 * var(--gap-main) - 4px)
      left: calc(-1 * var(--gap-main))
      right: calc(-1 * var(--gap-main))
      height: 70px
      background-color: var(--main-color)
      z-index: -1
  .common_decorative-line
    position: relative
    border-top: 1px solid var(--light-border-color)
    padding-bottom: 23px
    display: block
    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 77px
      height: 8px
      background-color: var(--decorative-color)
