// mixins
@import 'media'
@import 'vendors/_font-face'
// fonts
@import 'fonts/gothamxnarrow'
@import 'fonts/gothamcond'
@import 'fonts/opensans-condensed'
// others
@import 'variables'
// components
@import 'components/header'
@import 'components/module-home'
@import 'components/module1'
@import 'components/module2'
@import 'components/module3'
@import 'components/module4'
@import 'components/ticker'
  
.design7
  .main-structure
    background-color: var(--bg-color)
    padding-bottom: 20px
    &__column_center
      max-width: calc(var(--main-width) + var(--gap-main) * 2)
      margin: 0 auto
    
  .outer-gap-elem
    padding: var(--gap-main)
    @include media('md')
      padding: var(--gap-main-mobile)
    &_header
      padding-bottom: 6px
      
  .common
    &_module-decorative
      position: relative
      &::before
        content: ''
        position: absolute
        top: -17px
        left: calc(-1 * var(--gap-main))
        border-top: 50px solid var(--main-color)
        border-left: 137px solid var(--main-color)
        border-bottom: 72px solid transparent
        z-index: -1
    &_decorative-line
      position: relative
      border-top: 1px solid var(--light-border-color)
      padding-bottom: 29px
      display: block
      &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 77px
        height: 8px
        background-color: var(--decorative-color)
    &_module-title
      font: 900 36px var(--second-font)
      line-height: normal
      color: var(--title-color)
    &_module-title_dot
      color: var(--main-color)
    &_title_new
      font: 700 26px/30px var(--third-font)
      letter-spacing: -0.019em
      color: var(--text-color)
    &_label_new
      font: 700 19px var(--third-font)
      letter-spacing: -0.018em
      color: var(--main-color)
    &_title
      font: 700 24px/26px var(--second-font)
      color: var(--text-color)
    &_label
      font: 700 20px var(--second-font)
      color: var(--main-color)
