.design6
  .module2

    &__title
      margin-bottom: 23px

    &__container
      display: flex
      gap: var(--gap-main)

    &__box
      max-width: 488px
      width: 100%

    &__box-img
      aspect-ratio: 244 / 137

    &__box-label
      margin-top: 3.5px

    &__box-title
      margin-top: 8px
      color: var(--text-color)
